<div class="wrapper" style="background-image: url('assets/img/background/shape-11.png'); background-size: cover;">
    <div id="formContent">
        <br>
        <h3>Forget password</h3>
        <br>

        <form [formGroup]="codeForm" role="form" name="codeForm">
            <mat-form-field class="login-input">
                <input matInput placeholder="Email" type="text" formControlName="email" autofocus>
                <mat-error *ngIf="getEmail.invalid">Please enter a valid email</mat-error>
            </mat-form-field>          
            <input type="submit" class="widget spacer-20" value="Send" (click)="sendPassword()" [disabled]="isInValid()">
        </form>

        <!-- <div id="formFooter">
            <div class="row">
                <span>Hint: we sent you verification code by email.</span>
                <a [routerLink]="" (click)="resendCode()">Resend code</a>
            </div>
        </div> -->
    </div>
</div>