<div class="wrapper" style="background-image: url('assets/img/background/shape-11.png'); background-size: cover;">
    <div id="formContent">
        <br>
        <h3>Choose New Password</h3>
        <br>

        <form [formGroup]="loginForm" role="form" name="loginForm">
            <mat-form-field class="login-input">
                <input matInput placeholder="Email" type="text" formControlName="email">
                <mat-error *ngIf="getEmail.invalid">Please enter a valid email</mat-error>
            </mat-form-field>            
            <mat-form-field class="login-input">
                <input matInput placeholder="Verification code" type="text" formControlName="code">
                <mat-error *ngIf="getCode.invalid">Please enter a valid code</mat-error>
            </mat-form-field>
            <mat-form-field class="login-input">
                <input matInput placeholder="Password" type="password" formControlName="password">
                <mat-error *ngIf="getPassword.invalid">Please enter a valid password with minimal length of 8 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="login-input">
                <input matInput placeholder="Confirm Password" type="password" formControlName="passwordConfirm">
                <mat-error *ngIf="getPasswordConfirm.hasError('NoPassswordMatch')">Passwords should be identical</mat-error>
            </mat-form-field>
            <input type="submit" class="widget spacer-20" value="Registration" (click)="doSubmit()">
        </form>

        <div id="formFooter">
            <div class="row">
                <a href="/login">Login</a>
                <a href="/password-recovery">Forgot password</a>
            </div>
        </div>
    </div>
</div>