<!-- <div class="wrapper" style="background-image: url('assets/img/background/shape-11.png'); background-size: cover;">
    <div id="formContent">
        <br>
        <h3>Choose New Password</h3>
        <br>

        <form [formGroup]="loginForm" role="form" name="loginForm">
            <mat-form-field class="login-input">
                <input matInput placeholder="Password" type="password" formControlName="password">
                <mat-error *ngIf="getPassword.invalid">Please enter a valid password with minimal length of 8 characters</mat-error>
            </mat-form-field>
            <mat-form-field class="login-input">
                <input matInput placeholder="Confirm Password" type="password" formControlName="passwordConfirm">
                <mat-error *ngIf="getPasswordConfirm.hasError('NoPassswordMatch')">Passwords should be identical</mat-error>
            </mat-form-field>
            <input type="submit" class="widget spacer-20" value="Send" (click)="doSubmit()">
        </form>

        <div id="formFooter">
            <div class="row">
                <a href="/login">Login</a>
                <a href="/password-recovery">Forgot password</a>
            </div>
        </div>
    </div>
</div> -->

<section class="row no-gutters p-0 h-lg-100vh align-items-initial">
    <div class="col-lg d-lg-flex bg-color-primary pt-100 pb-100 py-lg-0">
        <div class="background-holder opacity-20 background-pattern"></div>
    </div>
    <div class="col-lg-8 p-0 d-flex bg-white align-items-lg-center">
        <div class="row no-gutters flex-fill justify-content-center">
            <div class="col-11 col-md-6 col-lg-7 col-xl-5 space">
                <h1 class="h2 text-center mb-30 color-primary">Please choose new password</h1>
                <form class="form form--sm" [formGroup]="loginForm" role="form" name="loginForm">
                    
                    <label class="label-control mb-10" for="password">New password:</label>
                    <mat-form-field class="form-group mb-20 display-block" appearance="outline">
                        <input matInput placeholder="Password" type="password" formControlName="password">
                        <mat-error *ngIf="getPassword.invalid">Please enter a valid password with minimal length of 8 characters</mat-error>
                    </mat-form-field>

                    <label class="label-control mb-10" for="passwordConfirm">Confirm Password</label>
                    <mat-form-field class="form-group mb-20 display-block" appearance="outline">
                        <input matInput placeholder="Confirm Password" type="password" formControlName="passwordConfirm">
                        <mat-error *ngIf="getPassword.invalid">Please enter a valid password with minimal length of 8 characters</mat-error>
                        <mat-error *ngIf="getPasswordConfirm.hasError('NoPassswordMatch')">Passwords should be identical</mat-error>
                    </mat-form-field>

                      <div
                        class="form-group custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <span>Don't have an account? <a href="/register" class="btn--color-primary btn-text-hover">Sign
                                up here</a></span>
                        <button type="submit" class="btn btn--bg-primary btn-splash-hover btn-3d-hover"
                            (click)="doSubmit()" [disabled]="isInValid()">
                            <span class="btn__text">Update</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>