<section class="page-title">
  <div class="layer-outer">
    <span class="layer-image wow slideInDown" data-wow-duration="2000ms"></span>
  </div>
  <div class="auto-container">
    <h1>THE PAGE YOU WERE LOOKING FOR, COULDN'T BE FOUND.</h1>
  </div>
</section>

<section class="error-section">
  <div class="auto-container">
    <div class="inner-section">
      <h1>404</h1>
      <br /><br /><br /><br />
      <input type="submit" class="widget spacer-20" value="TO HOME PAGE" (click)="doRedirect()">

    </div>
  </div>
</section>