<app-header-main></app-header-main>

<section class="space h-lg-100vh d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row mb-40">
            <div class="col-12 col-lg-6 mx-auto text-center">
                <img src="../../../assets/img/error-page.png" alt="error-page">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto text-center">
                <h1 class="color-primary h3-font mb-20">Page not found</h1>
                <p>Oops! Looks like you followed a bad link.</p>
                <p>Do you think this might be a mistake? <a
                        href="mailto:support@projscope.com.com?Subject=page%20not%20found"
                        class="btn-text-hover">Contact us</a></p>
                <a href="/" class="btn btn--bg-primary btn-splash-hover btn-3d-hover mt-40"><i
                        class="fa fa fa-long-arrow-left mr-20"></i><span class="btn__text">Go Back</span></a>
            </div>
        </div>
    </div>
</section>