<div class="toolbar" role="banner">
    <img width="120" style="background: gray;" src="../../assets/img/brand-logo-color.png" />
    <div class="spacer"></div>

    <button [matMenuTriggerFor]="belowMenu" mat-flat-button color="primary" *ngIf="authService.isUserLoggedIn()"
        class="logout-btn">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="redirectToDashboard()">
            <mat-icon>vpn_key</mat-icon>Dashboard
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="redirectToUserProfile()">
            <mat-icon>account_circle</mat-icon>Profile
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logOff()" class="logout-btn">
            <mat-icon>power_settings_new</mat-icon>Log off
        </button>
    </mat-menu>
</div>

<div class="first-content">
    <router-outlet></router-outlet>
</div>