<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Welcome</span>
    <div class="spacer"></div>
    <button mat-mini-fab color="primary" *ngIf="authService.isLoggedIn()" (click)="logOff()" class="logout-btn">
        <mat-icon>power_settings_new</mat-icon>
      </button>
        <!-- <span class="material-icons">power_settings_new</span> -->
</div>

<div class="first-content">
    <div class="card-container">
        <mat-card class="card-large">
            <mat-card-title>Monitoring</mat-card-title>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-title>Statistics</mat-card-title>
            <mat-card-content>
                <div class="resources-stats">
                    <div class="resources-stats-item-descriprion">Active Inactive</div>
                    <div class="resources-stats-item">{{activeResources.length}} | {{resources.length}}</div>
                    <button mat-stroked-button class="btn-add-site" (click)="addResource()">Add Web Site</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <h2>Monitored Jobs</h2>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let resource of activeResources">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div>
                            {{resource.url}}
                        </div>
                    </mat-panel-title>
                    <mat-panel-description class="resource-wrapper">
                        <div class="resource-date-list-item">
                            <span class="material-icons baseline" matTooltip="Last activation date" matTooltipPosition="before">watch_later</span>
                            <span class="activation-date">{{resource.monitorActivationDate | date: 'MMM d, h:mm a'}}</span>
                        </div>
                        <div class="resource-type-list-item">
                            {{resource.monitorPeriod | periodicy}}
                        </div>
                        <div [ngSwitch]="resource.lastStatus">
                            <div *ngSwitchCase="200">
                                <span class="material-icons" matTooltip="Last status: OK" matTooltipPosition="after">check_circle_outline</span>
                            </div>
                            <div *ngSwitchCase="000">
                                <span class="material-icons" matTooltip="Last status: Error" matTooltipPosition="after">error</span>
                            </div>
                            <div *ngSwitchCase="XXX">
                                <span class="material-icons" matTooltip="Last status: Not ran yet" matTooltipPosition="after">remove_circle_outline</span>
                            </div>                         
                            <div *ngSwitchDefault>
                                <span class="material-icons" matTooltip="Last status: Not ran yet" matTooltipPosition="after">remove_circle_outline</span>
                            </div>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="widget">
                    <div class="graph" [chart]="chartMap[resource.id]"></div>
                    <div class="actions">
                        <button class="mat-raised-button" (click)="editResource(resource)">Update</button>
                        <button class="mat-raised-button" (click)="deleteResource(resource)">Delete</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div class="content">
    <h2>Inactive Jobs</h2>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let resource of inActiveResources">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div>
                        {{resource.url}}
                    </div>
                </mat-panel-title>
                <mat-panel-description class="resource-wrapper">
                    <div class="resource-date-list-item">
                        <span class="material-icons baseline" matTooltip="Last activation date" matTooltipPosition="before">watch_later</span>
                        <span class="activation-date">{{resource.monitorActivationDate | date: 'MMM d, h:mm a'}}</span>
                    </div>
                    <div class="resource-type-list-item">
                        {{resource.monitorPeriod | periodicy}}
                    </div>
                    <div [ngSwitch]="resource.lastStatus">
                        <div *ngSwitchCase="200">
                            <span class="material-icons" matTooltip="Last status: OK" matTooltipPosition="after">check_circle_outline</span>
                        </div>
                        <div *ngSwitchCase="000">
                            <span class="material-icons" matTooltip="Last status: Error" matTooltipPosition="after">error</span>
                        </div>
                        <div *ngSwitchCase="XXX">
                            <span class="material-icons" matTooltip="Last status: Not ran yet" matTooltipPosition="after">remove_circle_outline</span>
                        </div>                         
                        <div *ngSwitchDefault>
                            <span class="material-icons" matTooltip="Last status: Not ran yet" matTooltipPosition="after">remove_circle_outline</span>
                        </div>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="widget">
                <div class="graph" [chart]="chartMap[resource.id]"></div>
                <div class="actions">
                    <button class="mat-raised-button" (click)="editResource(resource)">Update</button>
                    <button class="mat-raised-button" (click)="deleteResource(resource)">Delete</button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>