
.resources-stats {
  display: flex;
  flex-direction: column;
}

.resources-stats-item-descriprion {
  align-self: center;
  font-size: 12px;
  color: gray;
  margin-top: 30%;
}

.resources-stats-item {
  align-self: center;
}

.resources-stats-item {
  align-self: center;
  font-size: 42px;
}

.btn-add-site {
  margin-top: 5%;
}

resource-list {
  display: flex;
  flex-direction: row;
}

resource-name-list-item {
  order: 1;
}

resource-date-list-item {
  order: 2;
}

resource-type-list-item {
  order: 2;
}

resource-status-list-item {
  order: 2;
}
