.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  color: white;
  font-weight: 600;
  border: 1px solid #eee;
  box-shadow: 0px 2px 1px #eee;
}

.toolbar img {
  margin: 0 16px;
}

.widget {

  .graph {
    margin: 0;
    float: left;
    width: 80%;
    overflow: hidden;
  }
}

.logout-btn {
  margin-right: 25px;
  color: black;
}

.flex_justify_content_space-between {
  display: flex; 
  justify-content: space-between;
}

.monitor-section {
  display: flex; 
  justify-content: center;
  margin-top: 25%;
}