<footer class="footer-distributed">

  <div class="footer-right">

      <!-- <a href="#"><i class="fab fa-facebook"></i></a> -->
      <!-- <a href="https://twitter.com/projscope"><i class="fab fa-twitter"></i></a> -->
      <!-- <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a> -->
      <!-- <a href="mailto:help@citytours.com" id="email_footer">help@citytours.com</a> -->
  </div>

  <div class="footer-left">

      <p class="footer-links">

      <p> ProjScope © 2019  </p>
  </div>

</footer>