
@import "material.scss";

.dashboard-content{
  background-color: #F4F5F6;
}

.spacer {
  flex: 1;
}

.content {
  margin: 80px auto 32px;
  padding: 0 16px;
  max-width: 70%;
  flex-direction: column;
  align-items: center;
}

.first-content {
  @extend .content;
  margin: 160px auto 32px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
}

.card {
  border-radius: 10px;
  border: 1px solid #eee;
  height: 200px;
  width: 320px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  margin-bottom: 80px;
  min-height: 100px;
}

.card-large {
  @extend .card;
  margin-right: 20px;
  flex: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6em;
  font-family: 'Poppins', sans-serif;
  color: #6e6d7a;
}

.snackBar-success {
  background-color: #407AC5;

  span {
    color: white;
  }
  
}

.snackBar-fail {
  background-color: #E8827D;
  span {
    color: white;
  }
}