        <!-- =========== Start of Footer ============ -->
        <footer class="footer">
          <!-- <div class="pt-80 pb-80 border-bottom-light"> -->
              <!-- <div class="container"> -->
                  <!-- <div class="button-group flex-column flex-sm-row align-items-center justify-content-center"> -->
                      <!-- <a href="#" class="mr-sm-3 mb-10 mb-sm-0 box-shadow-2 rounded-md btn-3d-hover transition-default"> -->
                          <!-- <img src="img/app-store-md.png" class="rounded-md" alt="app-store"> -->
                      <!-- </a> -->
                      <!-- <a href="#" class="box-shadow-2 rounded-md btn-3d-hover transition-default"> -->
                          <!-- <img src="img/google-play-md.png" class="rounded-md" alt="google-play"> -->
                      <!-- </a> -->
                  <!-- </div> -->
              <!-- </div> -->
          <!-- </div> -->
          <div class="py-5">
              <div class="container">
                  <div class="row align-items-center justify-content-between">
                      <div class="col-12 col-lg-4 mb-20 mb-lg-0 text-center text-lg-left">
                          <!-- <span class="mb-20"><a href="index.html"><img src="img/brand-logo-color.png" alt="logo"></a></span> -->
                          <p class="color-light-secondary-2">© Projscope. 2020. All rights reserved.</p>
                      </div>
                      <!-- end of col -->
                      <div class="col-12 col-lg-4 mb-20 mb-lg-0">
                          <nav class="nav justify-content-center">
                              <ul class="d-flex mb-md-0">
                                  <li><a href="/terms-of-service" class="font-w-400">Terms of Service</a></li>
                                  <li><a href="/privacy-policy" class="font-w-400">Privacy & Terms</a></li>
                                  <li><a href="mailto:support@projscope.com" class="font-w-400">Contact Us</a></li>
                              </ul>
                          </nav>
                      </div>
                      <!-- end of col -->
                      <div class="col-12 col-lg-4 mb-20 mb-lg-0 ml-auto">
                          <ul class="social-lists d-flex justify-content-center justify-content-lg-end mb-0">
                              <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
                              <li><a href="https://twitter.com/projscope" target="blank"><i class="fa fa-twitter"></i></a></li>
                              <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                              <!-- <li><a href="#"><i class="fa fa-youtube-play"></i></a></li> -->
                          </ul>
                      </div>
                  </div>
                  <!-- end of row -->
              </div>
              <!-- end of container -->
          </div>
          <!-- end of main footer -->
      </footer>