<mat-card class="mat-card-flat">
    <form [formGroup]="siteFormGroup" name="siteFormGroup" role="form">
        <mat-card-content>
            <label class="label-control mb-10" for="email">Site URL</label>
            <mat-form-field class="form-group mb-20 display-block" appearance="outline">
                <input matInput placeholder="Ex. https://stackoverflow.com" formControlName="url" autofocus>
                <mat-error *ngIf="getUrl.invalid">Please enter a valid web site starting with http or https</mat-error>
            </mat-form-field>

            <label class="label-control mb-10" for="email">Monitor periodicity</label>
            <mat-form-field class="form-group mb-20 display-block" appearance="outline">
                <mat-label>Monitor periodicity</mat-label>
                <mat-select formControlName="periodicity">
                    <mat-option *ngFor="let period of periodicityOptions" [value]="period.key">
                        {{ period.value }}</mat-option>
                </mat-select>
                <mat-error *ngIf="getPeriodicity.invalid">Please specify periodicity</mat-error>
            </mat-form-field>
            <mat-slide-toggle formControlName="isActivated">
                Enable
            </mat-slide-toggle>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button class="btn-add-site" (click)="saveWebSiteDialog()"
                [disabled]="siteFormGroup.invalid">Add</button>
            <button mat-stroked-button class="btn-add-site" (click)="closeDialog()">Close</button>
        </mat-card-actions>
    </form>
</mat-card>