<div class="page-wrapper">
    <!-- Main Header-->
    <div #mainHeader class="main-header">
        <div class="header-upper">
            <div class="auto-container">
                <div class="header-outer">
                    <div class="logo-box">
                        <a href="index.html"><img src="assets/img/landing/logo.png" alt="" height="80" title=""></a>
                    </div>
                    <div *ngIf="authService.isLoggedIn()">
                        <a href="/dashboard" class="theme-btn btn-style-one">Dashboard</a>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <a [routerLink]="" (click)="logOut()" class="theme-btn btn-style-one">Log out</a>
                    </div>
                    <div *ngIf="!authService.isLoggedIn()">
                        <a href="/login" class="theme-btn btn-style-one">Log In</a>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <a href="/register" class="theme-btn btn-style-one">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Main Header -->

    <!--Banner Section four-->
    <section class="banner-section-four">
        <div class="layer-outer">
            <div class="layer-image wow slideInDown" data-wow-duration="2000ms"></div>
        </div>
        <div class="auto-container">
            <div class="content-box">
                <h1 class="wow fadeInUp" data-wow-delay="800ms">We monitor your site onlineability</h1>
                <div class="text wow fadeInUp" data-wow-delay="1200ms">Modern monitoring system with alerting
                    capabilities</div>
                <!-- <form action="#" class="wow fadeInUp" data-wow-delay="1400ms"> -->
                <!-- <input type="email" placeholder="Enter your email & get started ..."> -->
                <!-- <button><span class="fas fa-arrow-right"></span></button> -->
                <!-- </form> -->
            </div>
            <div class="image wow fadeInUp" data-wow-delay="1400ms" data-wow-duration="1500ms">
                <img src="assets/img/landing/dashboard.PNG" alt="">
            </div>
        </div>
    </section>
    <!--End Banner Section-->

    <!-- Call To Action -->
    <section class="call-to-action-one">
        <div class="anim-icons">
            <span class="icon shape-5"></span>
        </div>
        <div class="image-layer" style="background-image: url(assets/img/landing/bg-call-to-action-2.png);"></div>
        <div class="auto-container">
            <div class="anim-icons">
                <span class="icon shape-8"></span>
            </div>
            <div class="text-center">
                <div class="title-column wow fadeInUp">
                    <div class="text light">
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->

</div>
<!--End pagewrapper-->