<div class="page-wrapper">
    <!-- Main Header-->
    <div #mainHeader class="main-header">
        <div class="header-upper">
            <div class="auto-container">
                <div class="header-outer">
                    <div class="logo-box">
                        <a href="index.html"><img src="assets/img/landing/logo.png" alt="" height="80" title=""></a>
                    </div>
                    <!-- <div *ngIf="customer">
                        <a href="/dashboard" class="theme-btn btn-style-one">Dashboard</a>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <a [routerLink]="" (click)="logOut()" class="theme-btn btn-style-one">Log out</a>
                    </div>
                    <div *ngIf="!customer"> -->
                        <!-- <a href="/login" class="theme-btn btn-style-one">Log In</a>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <a href="/register" class="theme-btn btn-style-one">Register</a> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
    <!--End Main Header -->

    <!--Banner Section four-->
    <section class="banner-section-four">
        <div class="layer-outer">
            <div class="layer-image wow slideInDown" data-wow-duration="2000ms"></div>
        </div>
        <div class="auto-container">
            <div class="content-box">
                <h1 class="wow fadeInUp" data-wow-delay="800ms">Get the right tool to manage Small business</h1>
                <div class="text wow fadeInUp" data-wow-delay="1200ms">Modern CRM with advanced invoicing capabilities
                    developed especially for Small businesses in mind!</div>
                <!-- <form action="#" class="wow fadeInUp" data-wow-delay="1400ms"> -->
                <!-- <input type="email" placeholder="Enter your email & get started ..."> -->
                <!-- <button><span class="fas fa-arrow-right"></span></button> -->
                <!-- </form> -->
            </div>
            <div class="image wow fadeInUp" data-wow-delay="1400ms" data-wow-duration="1500ms">
                <img src="assets/img/landing/dashboard.PNG" alt="">
            </div>
        </div>
    </section>
    <!--End Banner Section-->

    <!-- Features Section Eight -->
    <section class="features-section-eight">

        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-6">
                    <div class="feature-block-eight">
                        <div class="sec-title mb-30">
                            <h1>Launching closed BETA!</h1>
                        </div>
                        <h3 class="fadeInUp">Your opinion is important to us!</h3>
                        <div class="text wow fadeInUp mb-60">As a small business owner, you have a chance to get early
                            access to the system, NO CREDIT CARD REQUIRED ! <br><br>You can make an impact on whole
                            system, by collaboratin directly with us!<br>We are great listeners :)</div>
                        <div class="btn-box wow fadeInUp" data-wow-delay=".4s"><a href="/register"
                                class="theme-btn btn-style-five">Get Started</a></div>
                    </div>
                </div>
                <div class="image-column col-lg-6">
                    <div class="inner-column">
                        <div class="image-box text-lg-right">
                            <figure class="image wow fadeInRight" data-wow-delay=".6s"><img
                                    src="assets/img/landing/closed_beta.PNG" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section -->

    <!-- Project Tab Section -->
    <section class="project-tab-section">
        <div class="image-layer" style="background-image: url(assets/img/landing/bg-project-tab.png);"></div>
        <div class="auto-container">
            <div class="sec-title light text-center">
                <h1>Why PROJSCOPE ?</h1>
                <div class="text">We focus on small business nishe, identifying needs and striving to improve
                    proccesses. <br> PROJSCOPE is modern system allowing to reduce costs and increase effectiveness.
                </div>
            </div>
            <ul class="nav nav-tabs tab-btn-style-two justify-content-center" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="tab-one-area" data-toggle="tab" href="#tab-one"
                        role="tab" aria-controls="tab-one" aria-selected="true"><span class="dot"></span>DASHBORD</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="tab-two-area" data-toggle="tab" href="#tab-two" role="tab"
                        aria-controls="tab-two" aria-selected="false"><span class="dot"></span>CLIENTS</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="tab-three-area" data-toggle="tab" href="#tab-three"
                        role="tab" aria-controls="tab-three" aria-selected="false"><span
                            class="dot"></span>INVOICING</a>
                </li>
                <li class="nav-item"><a class="nav-link" id="tab-four-area" data-toggle="tab" href="#tab-four"
                        role="tab" aria-controls="tab-four" aria-selected="false"><span class="dot"></span>GROWTH</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fadeInUp animated active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    <!-- Project Tab Block -->
                    <div class="project-tab-block">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="image text-center"><img src="assets/img/landing/product_manager.svg"
                                        height="400" alt=""></div>
                            </div>
                            <div class="col-lg-7">
                                <h3><span class="icon-stroke-gap icon-FileBox"></span>System versatility</h3>
                                <h4>Ability to use service in more than one way!</h4>
                                <div class="text">Combination of CRM and customer facing software capabilities in the
                                    same package bring a whole new perspective on business management! <br><br> We using
                                    modular approach, so in near future system will allow to interact with customer
                                    directly: set appointments, track progress and etc.</div>
                            </div>
                        </div>
                    </div>
                    <!-- End Block -->
                </div>
                <div class="tab-pane fadeInUp animated" id="tab-two" role="tabpanel" aria-labelledby="tab-two">
                    <!-- Project Tab Block -->
                    <div class="project-tab-block">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="image text-center"><img src="assets/img/landing/business_man.svg"
                                        height="400" alt=""></div>
                            </div>
                            <div class="col-lg-7">
                                <h3><span class="icon-stroke-gap icon-FileBox"></span>Client and Companies</h3>
                                <h4>Simple yet powerfull CRM!</h4>
                                <div class="text">This software has simple, yet powelfull client and company management
                                    system. There many convinient features embedded in it. Clicking on client will allow
                                    access to their interactions and invoices that was issued to that client at any
                                    time. <br><br>Many more to come...</div>
                            </div>
                        </div>
                    </div>
                    <!-- End Block -->
                </div>
                <div class="tab-pane fadeInUp animated" id="tab-three" role="tabpanel" aria-labelledby="tab-three">
                    <!-- Project Tab Block -->
                    <div class="project-tab-block">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="image text-center"><img src="assets/img/landing/entrepreneurs.svg"
                                        height="400" alt=""></div>
                            </div>
                            <div class="col-lg-7">
                                <h3><span class="icon-stroke-gap icon-FileBox"></span>Advanced invoicing</h3>
                                <h4>Create invoices with ease!</h4>
                                <div class="text">This service allows producing and managing hi-grade invoices in
                                    seconds. Just choose the customer and we will take care of the rest. <br><br>There
                                    are 3 types of documents that can be created: Estimations, Invoices and Receipts.
                                    Whenever you created your new Estimation, Invoice or Receipt - it can be easily
                                    printed or downloaded as PDF</div>
                            </div>
                        </div>
                    </div>
                    <!-- End Block -->
                </div>
                <div class="tab-pane fadeInUp animated" id="tab-four" role="tabpanel" aria-labelledby="tab-four">
                    <!-- Project Tab Block -->
                    <div class="project-tab-block">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="image text-center"><img src="assets/img/landing/growing_up.svg"
                                        height="400" alt=""></div>
                            </div>
                            <div class="col-lg-7">
                                <h3><span class="icon-stroke-gap icon-FileBox"></span>Constant growth as part of our
                                    values!</h3>
                                <h4>We commited to excelance!</h4>
                                <div class="text">We combine modular approach with constantly growing set of tools to
                                    elevate YOUR bussiness potential and to maximize its effectiveness, allowing you
                                    focus on Bussiness! </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Block -->
                </div>
                <!-- End Tab item -->
            </div>
        </div>
    </section>

    <!-- Faq Section -->
    <section class="faq-section">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="content mb-50 mr-lg-5">
                        <div class="sec-title">
                            <div class="title">FREQUENTLY ASKED QUESTION</div>
                            <h1>Got Any Questions?</h1>
                            <div class="text">We compiled frequently asked questions list. More information to come later.
                                If you have any additional questions, please send us an email: support@projscope.com
                            </div>
                        </div>
                        <div class="link-btn">
                            <!-- <a href="#" class="theme-btn btn-style-five">GET MORE HELP</a> -->
                        </div>
                    </div>

                </div>
                <div class="col-lg-7">
                    <div id="accordion">
                        <div class="accordion-box">
                            <div class="accordion block" id="headingOne">
                                <div class="acc-btn" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="false" aria-controls="collapseOne">
                                    <div class="icon-outer"><span class="icon icon_plus fas fa-angle-right"></span>
                                        <span class="icon icon_minus fas fa-angle-down"></span></div>Is this service is
                                    free ?
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse acc-content" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="text">
                                    Currently we running in close BETA and provide service for free. In the future we
                                    will introduce premium paid plans with different options.
                                    <br><br>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-box">
                            <div class="accordion block" id="headingTwo">
                                <div class="acc-btn" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="icon-outer"><span class="icon icon_plus fas fa-angle-right"></span>
                                        <span class="icon icon_minus fas fa-angle-down"></span></div>What is closed BETA
                                    and how to get there ?
                                </div>
                            </div>

                            <div id="collapseTwo" class="collapse acc-content" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="text">Closed BETA means we colaborating with selected amount of small
                                    businesses in a pilot version. Those businesses have early access to our system and
                                    have a chance to make an impact on system in the early stage.
                                    <br><br>In order to register to closed BETA, send us an email to:
                                    support@projscope.com
                                    <br><br>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-box">
                            <div class="accordion block" id="headingThree">
                                <div class="acc-btn" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    <div class="icon-outer"><span class="icon icon_plus fas fa-angle-right"></span>
                                        <span class="icon icon_minus fas fa-angle-down"></span></div>Where are you
                                    located?
                                </div>
                            </div>

                            <div id="collapseThree" class="collapse acc-content" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="text">
                                    Currently we based in Winnipeg, Canada. Interested in collaboration or have some
                                    ideas ? Well, shoot us email to : support@projscope.com
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Call To Action -->
    <section class="call-to-action-one">
        <div class="anim-icons">
            <span class="icon shape-5"></span>
        </div>
        <div class="image-layer" style="background-image: url(assets/img/landing/bg-call-to-action-2.png);"></div>
        <div class="auto-container">
            <div class="anim-icons">
                <span class="icon shape-8"></span>
            </div>
            <div class="text-center">
                <div class="title-column wow fadeInUp">
                    <div class="text light">
                        All Right Reserved © 2019 ProjScope
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->
    <!-- End Main Footer -->

</div>
<!--End pagewrapper-->